
ConverterWF/rrrr/obj/Debug/Converter_WF.Form1.resources
ConverterWF/rrrr/obj/Debug/Conveter_WF.csproj.CoreCompileInputs.cache
ConverterWF/rrrr/obj/Debug/Conveter_WF.csproj.FileListAbsolute.txt
ConverterWF/rrrr/obj/Debug/Conveter_WF.csproj.GenerateResource.cache
ConverterWF/rrrr/obj/Debug/Conveter_WF.csprojAssemblyReference.cache
ConverterWF/rrrr/obj/Debug/DesignTimeResolveAssemblyReferences.cache
ConverterWF/rrrr/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ConverterWF/rrrr/obj/Debug/rrrr.csproj.CoreCompileInputs.cache
ConverterWF/rrrr/obj/Debug/rrrr.csproj.FileListAbsolute.txt
ConverterWF/rrrr/obj/Debug/rrrr.csproj.GenerateResource.cache
ConverterWF/rrrr/obj/Debug/rrrr.csprojAssemblyReference.cache
ConverterWF/rrrr/obj/Debug/rrrr.exe
ConverterWF/rrrr/obj/Debug/rrrr.Form1.resources
ConverterWF/rrrr/obj/Debug/rrrr.pdb
ConverterWF/rrrr/obj/Debug/rrrr.Properties.Resources.resources
ConverterWF/rrrr/bin/Debug/rrrr.exe
ConverterWF/rrrr/bin/Debug/rrrr.exe.config
ConverterWF/rrrr/bin/Debug/rrrr.pdb
